body {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #EF5353;
}

tr{
	border:1px solid black;
	margin: auto;
}

h1 {
	text-align: center;
}

label {
	white-space: nowrap;
}

#line {
	text-align: center;
	margin-bottom: 10px;
}

#description {
	visibility: hidden;
	text-align: center;
}

p {
	text-align: center;
	font-size: 2 vw;
	border-radius: 15px;
	background-color: aquamarine;
}